
.nav_item {
	font-weight: normal;
}
.container {
	background: transparent;
	backdrop-filter: blur(100px);
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 auto;
	width: 1000px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 150px;
}
.works_description {
	margin-top: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.desc_header {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 0;
}
.desc_text {
	font-size: 23px;
}

.data-tabs {
	border-bottom: 2px solid gray;
	width: 95%;
	margin: 0 auto;
}
[role=tablist] {
	border: none;
	position: relative;
	margin-bottom: -50px;		
}

[role=tab][aria-selected=true] {
	color: #b51d34;
	border: none;
	border-bottom: 1px solid rgba(61, 57, 57, .2);
	background-image: url('../images/body-bg.gif');
}

ul li a {
	color: gray;
}
ul li a:hover {
	color: #b51d34;
}
.work_block {	
	transition: .3s ease-in-out;
	display: inherit;	
	flex-direction: column;
	align-items: center;
	margin: 50px auto;
	width: 95%;
	background-image: url('../images/body-bg.gif');
	border-radius: 0 0 30px 30px;
	border-bottom: 3px solid red;	
	overflow: hidden;
}
.work-block-top {
	z-index: 10;
	height: 70%;
}
.work-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('../images/dropDescriptionBackground.jpg');
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	transition: .3s ease-in-out;
	width: 100%;
}
.work-content {
	padding: 0 20px;
}
.work_header_block {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.work_header {
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.hr {
	height: 1px;
	background-color: gray;
	width: 30%;
}
.work_img {
	margin: 0 auto;
	max-height: 60vh;
	width: 100%;
}
.watch_link {
	margin-bottom: -20px;
	color: red; 
	padding: 5px 10px;
	font-size: 22px;
}
.watch_link:hover {
	color: #e1e8e4;
	transition: 0.1s;
	border-bottom: 1px solid red;
}

.gloevik {
	color: orange;
}
.html {
	font-weight: bold;
	color: #b51d34;
}
.css {
	color: #2788e8;
}
.frispers {
	font-size: 24px;
	color: #fff;
	font-family: 'Playfair Display', serif;
}
.php {
	font-weight: bolder;
	color: red;
}
.burningman {
	color: #fff;
	font-family: 'Anton';
}
.js {
	color: orange;
}
.royalbrows {
	font-size: 22px;
	color: #fff;
	font-style: Arial;
}
.world_skills {
	color: #fff;
}
.world_skills:hover {
	color: red;
}



@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 778px) {
	.works_description {
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
	}
}
@media screen and (max-width: 645px) {
	.work_img {
		height: auto;
	}
	.hr {
		width: 25%;
	}
}
@media screen and (max-width: 550px) {
	footer {
		flex-direction: column;
		align-items: center;
	}
	.copyright {
		margin: 0;
	}
	.social {
		margin: 0;
	}
}
@media screen and (max-width: 440px) {
	.hr {
		width: 16.5%;
	}
	h2 {
		font-size: 20px;
	}
}
@media screen and (max-width: 378px) {
	.hr {
		display: none;
	}
	.work_header {
		border-bottom: 2px solid #000;
	}
	.desc_text {
		font-size: 20px;
	}
	footer {
		font-size: 17px;
		margin-top: 50px;
	}
}