
.nav_item {
	font-weight: normal;
}
.container {
	background: transparent;
	backdrop-filter: blur(100px);
	font-family: 'Nunito Sans', sans-serif;
	margin: 0 auto;
	width: 1000px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 150px;
}
.container-dark-theme {
	background-color: #111212;
}
.works_description {
	margin-top: 30px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.desc_header {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 27px;
	line-height: 0;
}
.desc_text {
	font-size: 23px;
}

.work_block {	
	transition: .2s;
	position: relative;
	display: inherit;	
	flex-direction: column;
	align-items: center;
	height: 500px;
	margin: 50px auto;
	width: 95%;
	padding-bottom: 60px;
	background-image: url(../images/body-bg.gif);
	border-end-end-radius: 30px;
	border-end-start-radius: 30px;
	border-bottom: 3px solid red;
}
.work_header_block {
	z-index: 10;
	background-image: url('../images/body-bg.gif');
}
.work_drop_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	transition: 0.3s;
	position: absolute;
	width: 89%;
	height: 300px;
	background-color: #fff;
	z-index: 1;
}
.desc_drop {
	color: gray;
  	margin-top: 420px;
}

.work_header_block {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.work_header {
	font-size: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
.hr {
	height: 1px;
	background-color: gray;
	width: 30%;
}
.work_img {
	margin: 0 auto;
	height: auto;
	width: 99%;
	height: 80%;
	z-index: 10;
}
.watch_link {
	margin-bottom: -20px;
	color: #000; 
	padding: 5px 10px;
	font-size: 22px;
}
.watch_link:hover {
	color: #fff;
	transition: 0.1s;
	border-radius: 5px;
	background-color: gray;
}
.show-btn {
	cursor: pointer;
	position: absolute;
	bottom: -4px;
	height: 65px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#show-btn {
	padding: 0;
	margin: 0;
}
.show-arrow {
	position: absolute;
	filter: invert(58%);
	transform: rotate(90deg);
	width: 40px;
	height: 40px;
	top: 17px;
}
.gloevik {
	color: orange;
}
.html {
	font-weight: bold;
	color: #b51d34;
}
.css {
	color: #2788e8;
}
.frispers {
	font-size: 24px;
	color: #000;
	font-family: 'Playfair Display', serif;
}
.php {
	font-weight: bolder;
	color: red;
}
.burningman {
	color: #fff;
	font-family: 'Anton';
}
.js {
	color: orange;
}
.royalbrows {
	font-size: 22px;
	color: #000;
	font-style: Arial;
}
.world_skills {
	color: #fff;
}
.world_skills:hover {
	color: #000;
}


@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 778px) {
	.works_description {
		width: 90%;
		margin: 0 auto;
		padding-top: 40px;
	}
	.desc_drop {
		width: 89%;
	}
}
@media screen and (max-width: 645px) {
	.work_img {
		height: auto;
	}
	.hr {
		width: 25%;
	}
}
@media screen and (max-width: 526px) {
	.desc_drop {
		height: auto;
	}
}
@media screen and (max-width: 440px) {
	.work_block {
		height: auto;
	}
	.hr {
		width: 16.5%;
	}
	.burningman {
		padding: 0 5px;
		background-image: url('../images/body-bg.gif');
	}
}
@media screen and (max-width: 378px) {
	.hr {
		display: none;
	}
	.work_header {
		border-bottom: 2px solid #000;
	}
	.desc_text {
		font-size: 20px;
	}
	footer {
		font-size: 17px;
		margin-top: 50px;
	}
}